# ---- Python ----
venv/
__pycache__/
*.pyd
*.dll
*.so
*.log
*.sqlite3
*.db
.DS_Store

# ---- Android / Java ----
.gradle/
build/
local.properties
*.iml
.idea/
.cxx/
.externalNativeBuild/
captures/
.gradle/
gradle-app.setting
.gradle_task_name_cache

# ---- OS / Editor ----
*.swp
*~
*.tmp
*.bak
Thumbs.db
